# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*.h linguist-language=C++
*.inc linguist-language=C++
thirdparty/* linguist-vendored

# Except for Windows-only / Visual Studio files
*.bat eol=crlf
*.sln eol=crlf
*.csproj eol=crlf
misc/msvs/* eol=crlf
# And some test files where the EOL matters
*.test.txt -text

*.icns binary
*.ico binary
*.jar binary
*.png binary
*.ttf binary
*.tza binary